﻿@{
    ViewBag.Title = "Anasayfa";
}


    <div class="col-md-6">
        <h2>Haftanın Restoranı</h2>
        
            <div class="row">
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <img src="~/images/r1.jpg" alt="rest1">
                        <div class="caption">
                            <h3>Pierre Cafe & Butik Restoran </h3>
                            <h5>Eşsiz boğaz manzarası, hızlı servisi ve keyifli ambiyansıyla konuklarına sıradışı bir yemek ziyafeti yaşatıyor. </h5> 
        
    </div>
        
</div>
  </div>

</div>

        
<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ayrıntı &raquo;</a></p>
    </div>
<div class="col-md-2">

</div>
<div class="col-md-6">
    <h2>Haftanın Tatlısı</h2>
    <p><div class="row">
    <div class="col-xs-6">
        <div class="thumbnail">
            <img src="~/images/t1.jpg" alt="tatlı1">
            <div class="caption">
                <h3>Beyaz Çikolatalı Penne </h3>
                <h5>Enfes beyaz çikolata sosuyla harmanlanmış,taptaze sunumuyla penneclarte </h5>

            </div>

        </div>
    </div>

</div></p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ayrıntı &raquo;</a></p>
</div>





