﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GezTat</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>

    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    @**<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                   
                        <img src="~/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="" >
                        @Html.ActionLink("geztat.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        *@
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <div class="container">


        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                    @Html.ActionLink("geztat.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                </div>
             
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Restoranlar", "Index", "Home")</li>
                  
                    <li>@Html.ActionLink("Tatlılar", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Hakkında", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <img width="25" height="25" src="~/images/tr.png" title="Türkçe">

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/images/en.png" width="25" height="25" title="English">
                        </a>
                    </li>
                </ul>
               
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron" style="background:#CCFFFF">
            @RenderBody()
            <hr />

            <footer>

                <div class="wrapper">

                    <div class="row">
                        <div class="col-md-6"><p>&copy;@DateTime.Now.Year - GezTat</p></div>
                        <div class="col-md-6">
                            <h5>Bizi Takip Edin! </h5>
                            <ul id="icons">
                                <li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.gif" alt=""></a></li>



                            </ul>
                        </div>



                    </div>
                </div>
        </div>
</footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
